* {
  /* get rid of default margin and padding */
  margin: 0;
  padding: 0;
}

body {
  width: 855px;
	overflow: auto; /**/
	padding: 30px 0; /**/
  margin: auto;
  background: seagreen;
  font-size: 100%;
  font-family: "Arial", sans-serif;
  border-bottom: 1px solid darkslategray;
}

.page-container p {
  float: left;
	margin-bottom: 8px;
  width: 570px;
  font-style: italic;
  margin-top: 10px;
}

.add-comment {
  float: left;
  /*width: 285px;*/
	padding: 7px;
	width: 99%;
}

.add-comment input {
  width: 80%;
  height: 30px;
  font-size: 1.2em; /* textbox input will be a tad larger than default */
  font-weight: bold; /* textbox input will be bold */
}

.add-comment button {
  font-weight: bold; /* button text will be emboldened */
  padding: 2px;
  border-radius: 5px; /* adds cool 3D sort of effect to button */
  color: ivory; /* button text will turn this color */
  background: palevioletred; /* background of button will be this color */
  cursor: pointer; /* When you hover your mouse over the button,
                      it'll change into the pointing cursor */
  font-size: 1.5em; /* button gets larger */
  margin-left: 5px; /* puts some space between textbox and button */
	/*float: center;*/
}

.comments {
  float: right;
  width: 570px;
}

.comments li {
/*  float: center;*/
  width: 570px;
  padding: 7px;
  margin-bottom: 9px;
  border-radius: 5px; /* rounds the edges of the comment background */
	background: pink;
}

/*
.comments li:nth-child(even) {
  background: palevioletred;
}

.comments li:nth-child(odd) {
  background: pink;
}
*/

footer {
  font-size: smaller;
  margin-top: 5px;
  clear: both;
}
