<!DOCTYPE html>

<html lang="en">
	<head>
		<title>Comments Page</title>
<!--
		<link rel="stylesheet" type="text/css" href="reset.css">
-->
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>

	<body ng-app="CommentsPage"> <!-- Initialize the main view -->
		<!-- Tell view about the controller -->
		<div class="page-container" ng-controller="CommentCtrl">
			<h1>Comments</h1>
			<p>A simple app that allows a user to input comments</p>

			<div class="add-comment">
				<!--<input type="text" class="comment-input" placeholder="New Comment" ng-model="newComment" ng-keyup="add($event)"/>-->
				<input type="text" ng-model="newComment" placeholder="Add a comment"/>
				<button ng-click="addCommentFromInputBox($event)">+</button>
			</div>

			<ul class="comments" ng-repeat="comment in commentsList">
				<li>
					<span>{{ comment }}</span>
				</li>
			</ul>
		</div>

		<footer>
			<p>This work is released into the public domain</p>
		</footer>

		<!-- Following from: https://docs.angularjs.org/misc/downloading -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="controller.js"></script>
	</body>
</html>
